<%= form_with(model: message, url: [@chat, message], id: "new_message", class: "chat-input-form", data: { controller: "chat-form" }) do |form| %>
  <% if message.errors.any? %>
    <div style="color: red; margin-bottom: 1rem;">
      <p><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</p>
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="chat-input-wrapper">
    <%= form.text_area :content,
        class: "chat-input",
        placeholder: "Message... (Shift+Enter to send)",
        autofocus: true,
        autocomplete: "off",
        rows: 1,
        data: { chat_form_target: "input", action: "keydown->chat-form#handleKeydown" } %>
    <%= form.button type: "submit", class: "chat-submit-button", title: "Send message" do %>
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="22" y1="2" x2="11" y2="13"></line>
        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
      </svg>
    <% end %>
  </div>
<% end %>
