<%= form_with(model: message, url: [@chat, message], id: "new_message", class: "chat-input-form") do |form| %>
  <% if message.errors.any? %>
    <div style="color: red; margin-bottom: 1rem;">
      <p><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</p>
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="chat-input-wrapper">
    <%= form.text_field :content,
        class: "chat-input",
        placeholder: "Message...",
        autofocus: true,
        autocomplete: "off" %>
    
    <%= form.button type: :submit, class: "chat-submit" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm-.75-4.75a.75.75 0 011.5 0v-5.69l2.22 2.22a.75.75 0 111.06-1.06l-3.5-3.5a.75.75 0 01-1.06 0l-3.5 3.5a.75.75 0 111.06 1.06l2.22-2.22v5.69z" clip-rule="evenodd" />
      </svg>
    <% end %>
  </div>
<% end %>
