<div class="command-palette" data-command-palette-target="modal" data-action="click->command-palette#clickOutside">
  <div class="command-palette__container">
    <%= render "shared/command_palette/header" %>
    <%= render "shared/command_palette/quick_actions" %>
    <%= render "shared/command_palette/recent_chats" %>
    <%= render "shared/command_palette/upgrade_banner" %>
    <%= render "shared/command_palette/footer" %>
  </div>
</div>
