<% if notice.present? %>
  <p style="color: green"><%= notice %></p>
<% end %>

<%= turbo_stream_from "chat_#{@chat.id}" %>

<% content_for :title, @chat.title.presence || "Finding tools" %>

<div class="chat-page">
  <%# Chat Header %>
  <div class="chat-header">
    <div class="chat-header__content">
      <div>
        <h1 class="chat-header__title" data-controller="editable-title" data-editable-title-chat-id-value="<%= @chat.id %>"><%= @chat.title.presence || "Finding tools" %></h1>
        <p class="chat-header__meta">Discovering the best tools for your project</p>
      </div>
      <%= link_to "History", chats_path, class: "btn btn--secondary btn--sm" %>
    </div>
  </div>

  <%# Messages Area %>
  <div class="messages-container" id="messages-container" data-controller="scroll">
    <div class="messages-list" id="messages">
      <% @chat.messages.where.not(id: nil).each do |message| %>
        <%= render message %>
      <% end %>
    </div>
  </div>

  <%# Input Area %>
  <div class="chat-input-area">
    <div class="chat-input-area__container">
      <%= render "messages/form", chat: @chat, message: @message %>
    </div>
  </div>
</div>
